.headimg {
	width: 5rem;
	height: 5rem;
}

.object_ok {
	display: block;
	width: 100%;
	border: 1px solid #008000;
	color: #333333;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.object_error {
	display: block;
	width: 100%;
	border: 1px solid #800000;
	color: #333333;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.jumbotron {
	position: relative;
	background-image: url("../images/head.png");
	background-size: 100%;
	color: #c0c0c0;
	width: 100%;
	height: 60%;
}

.jumbotext {
	color: #fdfdfd;
	font-family: 'Indie Flower', cursive;
}

.jumboHead {
	color: #fdfdfd;
	font-family: 'Sigmar One', cursive;
}

.formHead {
	color: blue;
	font-family: 'Indie Flower', cursive;
}

@media only screen and (max-width: 890px) {
	img {
		/* 		width: 30%; to make the image responsive */
		max-height: 30%;
	}
	.jumbotron {
		display: none;
	}
}

body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	height: auto;
}

.dataTables_info {
	margin-left: 20px;
	margin-right: 30px;
}

.dataTables_length {
	margin-left: 18px;
}

#footerDiv {
	max-height: 4em;
}

.container {
	margin-top: 5rem;
}