.object_ok {
	display: block;
	width: 100%;
	border: 1px solid #008000;
	color: #333333;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.object_error {
	
	display: block;
	width: 100%;
	border: 1px solid #800000;
	color: #333333;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.jumbotron {
	background-image: url("../images/head.png");
	background-size: cover;
	color: #c0c0c0;
}

.jumbotext {
	color: #fdfdfd;
	font-family: 'Indie Flower', cursive;
}
.jumboHead {
	color: #fdfdfd;
	font-family: 'Sigmar One', cursive;
}
.formHead {
	color: blue;
	font-family: 'Indie Flower', cursive;
}